# Default ignored files
/shelf/
/caches
/libraries
modules.xml
navEditor.xml
assetWizardSettings.xml
workspace.xml
kotlinScripting.xml
/appInsightsSettings.xml
/deploymentTargetDropDown.xml
/migrations.xml
